/* STARS background made mostly with tutorial which ends on line 145 */

body {
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: radial-gradient(ellipse at bottom, #0D1E31, #111);


}

.night {
    position: absolute;
    width: 100%;
    height: 100%;


}

.star {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 4px;
    background: linear-gradient(-45deg, #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 999px;
    filter: drop-shadow(0 0 6px #699BFF);
    animation: tail 3s ease-in-out infinite,
        falling 3s ease-in-out infinite
}

@keyframes tail {
    0% {
        width: 0px;
    }

    30% {
        width: 100px;

    }

    100% {
        width: 0;

    }
}

@keyframes falling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(300px);
    }
}

.star::before,
.star::after {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    height: 4px;
    width: 30px;
    background: linear-gradient(-45deg, rgba(0, 0, 255, 0, ), #5F91FF, rgba(0, 0, 255, 0));
    border-radius: 100%;
    transform: translateX(50%) rotateZ(45deg);
    animation: shining 3s ease-in-out infinite;

}

@keyframes shining {
    0% {
        width: 0px;
    }

    50% {
        width: 30px;
    }

    100% {
        width: 0;
    }
}

.star::after {
    transform: translateX(50%) rotateZ(-45deg);
}

.star:nth-child(1) {
    top: calc(5% - 200px);
    left: calc(75% - 250px);
    animation-delay: 1s;

}

.star:nth-child(1)::before,
.star:nth-child(1)::after {
    animation-delay: 1s;

}



.star:nth-child(2) {
    top: calc(0% - 200px);
    left: calc(75% - 250px);
    animation-delay: 1.2s;

}

.star:nth-child(2)::before,
.star:nth-child(2)::after {
    animation-delay: 1.2s;

}

.star:nth-child(3) {
    top: calc(0% - 100px);
    left: calc(75% - 250px);
    animation-delay: 1.4s;

}

.star:nth-child(3)::before,
.star:nth-child(3)::after {
    animation-delay: 1.4s;

}

.star:nth-child(4) {
    top: calc(5% - 100px);
    left: calc(75% - 250px);
    animation-delay: 1.6s;

}

.star:nth-child(4)::before,
.star:nth-child(4)::after {
    animation-delay: 1.6s;

}

.star:nth-child(5) {
    top: calc(10% - 100px);
    left: calc(75% - 250px);
    animation-delay: 1.8s;

}

.star:nth-child(5)::before,
.star:nth-child(5)::after {
    animation-delay: 1.8s;

}

/* End of tutorial everything else is made by me */



#bug {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    position: absolute;
    top: -100px;
    right: 250px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90 deg);

}



#container {
    flex: center;
    position: relative;
    text-align: center;
    padding: 20px;

    /* Only had to look up this part the next part I did on my own */
    background: #F45757;
    animation-name: pulse;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

/* Did on my own with the stars example I figured out how and why it works */

@keyframes pulse {
    0% {
        background: #F45757;
    }

    16% {
        background: #FFA500;
    }

    33% {
        background: #FFFF00;

    }

    49% {
        background: #00FF00;
    }

    65% {
        background: #0000FF;
    }

    81% {
        background: #4b0082
    }


    100% {
        background: #EE82EE;
    }

}

#thirtySec {
    background: #111;
    animation-name: pulse_button;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
/* completely on my own */
@keyframes pulse_button {
    0% {
        color: #228B22;
    }
    50% {
        color: #add8e6 
    } 
    100% {
        color: #228B22
    }
}

p {
    
    color: #111;
    animation-name: pulse_p;
    animation-duration: 4s;
    animation-iteration-count: infinite
    
}

canvas {
    background-color: white;
    

}


@keyframes pulse_p {
    0% {
        color: #111
    }
    50% {
        color: #ffffff
    }
    100% {
        color: #111
    }
}





hr {
    margin: auto;
    width: auto;
    width: 75%;
    
}

#timer {
    color: white;
    color: #111;
    animation-name: pulse_p;
    animation-duration: 4s;
    animation-iteration-count: infinite
}

#thirtySec {
    margin: 25px
}